.accordian {
    width: 1000px;
    background: linear-gradient(105.37deg, #02033C 0%, #5C5C99 100%);
    border-radius: 10px;
    border: none;
    padding: 3rem;
}

.titleCon {
    display: flex;
    justify-content: space-between;
    color: var(--light);
}

.accordianTxt {
    height: 0;
    opacity: 0;
    text-align: left;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.active {
    height: 2rem;
    opacity: 1;
    margin-top: 1.5rem;
}

.arrow {
    margin-top: 5px;
    width: 2rem;
    height: 2rem;
}