.pageContainer {
    width: 100%;
    background: #F3F5F7;
    padding: 5rem 0;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 500px;
    margin: 0 auto;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem 0 1rem 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

