.heroCon {
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 5rem 7rem;
}

.heroTxt {
    width: 50%;
}

.heroPara {
    width: 70%;
    margin: 0;
}

.btnGroup {
    width: 70%;
}