.heroCon {
    border: none;
    border-radius: 10px;
    padding: var(--spacing-ten) var(--spacing-fourteen);
}

.heroTxt {
    width: 50%;
}

.heroPara {
    width: 70%;
    margin: 0;
}

.btnGroup {
    min-height: var(--spacing-six);
}

.homeHero {
    background-color: var(--rwi-blue);
    background-image: url('../../public/circut-board.png');
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: var(--spacing-seven);
}

.homeHero, .heroTxt, .heroPara, .heroTitle {
    color: var(--light) !important;
    align-items: center;
    text-align: center;
}

.homeHero > .heroTxt {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .heroCon {
        padding: var(--spacing-ten) var(--spacing-twelve);
    }

    .heroPara {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .heroCon {
        padding: var(--spacing-ten);
    }

    .heroTxt {
        width: 75%;
    }
}

@media screen and (max-width: 860px) {
    .heroCon {
        flex-direction: column-reverse;
        justify-content: center;
        gap: var(--spacing-seven);
    }

    .heroTxt {
        text-align: center;
        width: 100%;
    }

    .heroPara {
        width: 100%;
    }

    .btnGroup {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {
    .heroCon {
        padding: var(--spacing-eight) var(--spacing-six);
    }
}