.heroCon {
    border: none;
    border-radius: 10px;
    padding: var(--spacing-ten) var(--spacing-fourteen);
}

.heroTxt {
    width: 50%;
}

.heroPara {
    width: 70%;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .heroCon {
        padding: var(--spacing-ten) var(--spacing-twelve);
    }

    .heroPara {
        width: 80%;
    }
}