/* Form Page */
.pageContainer {
    width: 100%;
    background: #F3F5F7;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: fit-content;
    margin: 0 auto;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

/* Individual Form Elements */

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input {
    padding: 0.5rem 1rem;
    max-width: 500px;
    background:var(--light);
    border: 1px solid var(--grey-one);
    color: var(--dark);
    border-radius: 10px;
}

.input:focus {
    outline: 2px solid var(--secondary-one);
} 

.long {
    height: 10rem;
    resize: none;
}

.hidden {
    display: none;
}

.labelCon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}