.scaleGroup {
    display: flex;
    background: var(--light);
    width: fit-content;
    border: 1px solid var(--grey-one);
    border-radius: 10px;
    height: 2.5rem;
    overflow: hidden;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
    min-width: 5rem;
    padding: 0 1.5rem;
    text-align: center;
    color: var(--rwi-blue);
    border-left: 1px solid var(--grey-one);
    cursor: pointer;
}

.option:hover {
    background: var(--rwi-blue-three);
}

.selected {
    color: var(--light);
    background: var(--rwi-blue);
}

.optionTxt {
    font-weight: 800;
    font-size: 18px;
}

.radio {
    appearance: none;
}