.sm {
    max-width: 125px;
    width: 100%;
}

.md {
    max-width: 250px;
    width: 100%
}

.lg {
    max-width: 500px;
    width: 100%
}

.select {
    padding: 0.5rem 1rem;
    color: #6D6D6D;
    background: #F3F5F7;
    border: 1px solid #D3D4D5;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.selectOpen {
    outline: 2px solid #5C5C99;
}

.selected {
    user-select: none;
}

.options {
    position: absolute;
    background: #F3F5F7;
    border-radius: 10px;
    width: 100%;
    height: 0px;
    overflow-y: hidden;
    scrollbar-color: var(--rwi-blue) #d3d4d5;
}

.optionsOpen {
    height: 7.5rem;
    border: 1px solid #D3D4D5;
    overflow-y: scroll;
}

.optionsOpen::-webkit-scrollbar {
    width: 4px;
}

.optionsOpen::-webkit-scrollbar-thumb {
    background-color: var(--secondary-one);
    border-radius: 5px;
}

.option {
    padding: 0.5rem 1rem;
    width: 100%;
    user-select: none;
}

.option:hover {
    background-color: var(--secondary-two)
}

.arrow {
    display: flex;
    align-items: center;
}
