.header {
    position: sticky;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 100;
    padding: 1.5rem 0;
}

.logo {
    width: 160px;
    height: 45px;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hamburger {
    display: none;
}

.dropdownMenu {
    display: flex;
    margin: 0;
    list-style: none;
    gap: 3.5rem;
    font-size: 1.7rem;
    line-height: 1rem;
    justify-content: flex-start;
}

.navLink {
    text-decoration: none;
    color: var(--rwi-blue);
    font-size: 1rem;
    font-weight: 800;
}

.contactLink {
    font-size: 1rem;
    font-family: Gilmer;
    font-weight: 800;
    color: var(--light);
    background: var(--rwi-red);
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.contactLink:hover {
    background: var(--rwi-red-two);
}

@media screen and (max-width: 768px) {
    .header > div {
        align-items: flex-start;
    }

    .nav {
        align-items: flex-end;
        justify-content: center;
        position: relative;
    }

    .hamburger {
        display: inline-block;
        top: 1.3rem;
        background: none;
        border: none;
        font-size: 2.5rem;
        cursor: pointer;
        z-index: 8;
    }

    .dropdownMenu {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 0rem;
        gap: 2rem;
        font-size: 1.5rem;
        transition: all .4s ease-in-out !important;
        max-height: 0px;
        opacity: 0;
        overflow-y: hidden;
    }

    .dropdownMenu.menuOpen {
        max-height: 325px !important;
        padding: 2rem 0;
        opacity: 1;
        overflow: visible;
    }
}

@media screen and (max-width:600px) {
    .logo {
        width: 8rem;
    }

    .hamburger {
        top: 1rem;
        font-size: 2rem;
    }
}