.footer {
    display: flex;
    justify-content: space-between;
    background-color: #03053E;
    padding: 1rem 0;
    border-top: 7px solid #CC2C12;
}


.logo {
    width: 17rem;
    padding: 1rem 0;
}

.copyright {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    color: white;
    justify-content: center;
}