/* ------- colours ------- */
:root {
  /* brand colours */
  --rwi-blue: #03053E;
  --rwi-blue-two: #67688A;
  --rwi-blue-three: #CCCDD8; 
  --rwi-red: #CC2C12;
  --rwi-red-two: #E08071;
  --rwi-red-three: #F5D5D0;
  --secondary-one: #5C5C99;
  --secondary-two: #E6E9F4;
  /* greyscale */
  --light: #F3F5F7;
  --grey-one: #D3D4D5;
  --grey-two: #B6B8B9;
  --grey-three: #6D6D6D;
  --grey-four: #484848;
  --dark: #1A1A1A;
  /* utility */
  --danger: #99210E;
  --danger-bg: #F5D5D0;
  --success: #225835;
  --success-bg: #D3DED7;
}

body {
  background: var(--light);
}

.bgBlue {
  background-color: #03053E !important;
}

.bgRed {
  background-color: #CC2C12;
}

.bgWhite {
  background-color: #F3F5F7;
}

.txtRed {
  color: #CC2C12
}

.txtWhite {
  color: #E5E5E5;
}

.txtBlue {
  color: #03053E;
}

.txtBlack {
  color: #1A1A1A;
}

/* ------- text ------- */

@font-face {
  font-family: Gilmer;
  src: url('../public/fonts/Gilmer/Gilmer-Outline.otf');
  font-style: oblique;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: Gilmer;
  src: url('../public/fonts/Gilmer/Gilmer-Bold.otf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Gilmer;
  src: url('../public/fonts/Gilmer/Gilmer-Heavy.otf');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: Gilmer;
  src: url('../public/fonts/Gilmer/Gilmer-Medium.otf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6, p, div, input, label {
  font-family: Gilmer;
}

.pageTitle {
  font-size: 56px !important;
  line-height: 64px !important;
}

.decorative {
  font-style: oblique;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

h1 {
  font-size: 48px;
  line-height: 56px;
}

h2 {
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-size: 28px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 21px;
  line-height: 28px;
}

h6 {
  font-size: 18px;
  line-height: 26px;
}

p, div, a, li, span, select, option {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.bold {
  font-weight: 700;
}

.txtLg {
  font-size: 18px;
  line-height: 26px;
}

.txtSm {
  font-size: 14px;
  line-height: 22px;
}

.txtCenter {
  text-align: center;
}

/* Page and Section Spacing */

.pageGutters {
  max-width: 1200px;
  margin: 0 7.5rem;
}

.sectionSM {
  margin-top: 2.5rem;
}

/* ------- random shit from site 1.0 ------- */


.btn {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 800;
  border: none;
  cursor: pointer;
}

.sectionHeading {
  color: #CC2C12;
  text-align: center;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 67px;
  padding: 9.75rem 0 3.5rem 0;
}

.swiper-pagination-bullet {
  background-color: #F3F5F7 !important;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 5% 15px 5%;
}

@media screen and (max-width: 1200px) {
  .btn {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .sectionHeading {
    font-size: 3rem;
    padding: 5rem 0 1rem 0 !important;
  }

  .gutters {
    padding: 0 7% !important;
  }
}

@media screen and (max-width: 380px) {

  .btn {
    font-size: 1.25rem;
  }

  .sectionHeading {
    font-size: 2.5rem;
    padding: 8.75rem 0 3rem 0;
  }
}