.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100vw;
    z-index: 100;
}

.logo {
    width: 14rem;
    padding: 1rem 0 1.25rem 0;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hamburger {
    display: none;
}

.dropdownMenu {
    display: flex;
    list-style: none;
    gap: 3rem;
    font-size: 1.7rem;
    line-height: 1rem;
    justify-content: flex-start;
}

.navLink {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 12rem;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 900px) {
    .nav {
        align-items: flex-end;
        justify-content: center;
        position: relative;
    }

    .hamburger {
        display: inline-block;
        position: absolute;
        top: 1.3rem;
        background: none;
        border: none;
        font-size: 2.5rem;
        cursor: pointer;
        z-index: 8;
    }

    .dropdownMenu {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 0rem;
        gap: 2.3rem;
        font-size: 1.5rem;
        transition: all .4s ease-in-out !important;
        max-height: 0px;
        opacity: 0;
        overflow-y: hidden;
    }

    .dropdownMenu.menuOpen {
        max-height: 325px !important;
        padding-top: 4rem;
        opacity: 1;
        overflow: visible;
    }
}

@media screen and (max-width: 380px) {
    .logo {
        width: 8rem;
    }

    .hamburger {
        top: 1rem;
        font-size: 2rem;
    }
}