.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.logo {
    width: 17rem;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: fit-content;
}

.linkContainer {
    display: flex;
    list-style: none;
    gap: 3rem;
    font-size: 32px;
    align-items: flex-start;
    max-height: fit-content;
}

.navLink {
    text-decoration: none;
    color: white;
}