.hero {
  background-color: #03053E;
  background-image: url('../public/circuit-board.png');
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}

.heroText {
  max-width: 55%;
  padding-left: 7rem;
}

.heroHeading {
  font-size: 5rem;
  line-height: 5.7rem;
  font-weight: 800;
}

.heroPara {
  font-size: 32px;
  line-height: 48px;
}

/* ------- about ------- */

.aboutIntroCon {
  position: relative;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
  padding: 40px;
  top: -50px;
}

.aboutIntroPara {
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
}

.aboutParaCon {
  display: flex;
  flex-direction: column;
  gap: 86px;
}

.aboutParaHeading {
  font-size: 96px;
  font-weight: 800;
  font-style: oblique;
  line-height: 115px;
}

.aboutParaText {
  max-width: 85%;
  margin: 0 auto;
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
}

/* ------- services ------- */

.servicesGrid {
  display: grid;
  grid-template-columns: 5fr 7fr;
  color: white;
}

.servicesMenu {
  column-span: 5;
}

.serviceHeading {
  padding: 51px 0 51px 148px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  background-color: #28284A;
}

.serviceHeading:hover {
  background-color:#03053E;
  cursor: pointer;
}

.serviceBlurbCon {
  column-span: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 148px 0 136px;
}

.sericeBlurb {
  max-width: 1080px;
}

.serviceIcon {
  font-size: 13rem;
  height: 13rem;
  margin-bottom: 56px;
}

.servicePara {
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

/* ------- team ------- */

.team {
  padding-bottom: 156px !important;
}

.teamCon {
  display: flex;
  justify-content: space-evenly;
}

.teamCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  text-align: center;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  max-width: 556px;
  padding: 46px 58px;
}

.teamImg {
  width: 150px;
  height: 150px;
  border: 7px solid #CC2C12;
  border-radius: 50%;
}

.teamInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.teamName {
  font-size: 36px;
  font-weight: 800;
  line-height: 43px;
}

.teamTitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
}

.teamBio {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.teamLinkedIn {
  font-size: 36px;
  color:#03053E;
}

/* ------- contact ------- */

.contactHeading {
  padding-top: 3rem;
}

.contactCon {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.contactInfoCon {
  width: 100%;
  max-width: 40%;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.linkCon {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.contactCta {
  font-weight: 800;
  font-size: 48px;
  line-height: 36px;
}

.contactEmailCon {
  display: flex;
}

.emailIcon {
  font-size: 2rem;
  max-width: fit-content;
  padding: 15px;
  display: flex;
}

.email {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  padding-left: 1rem;
}

.emailLink {
  text-decoration: none;
}

.socialCta {
  font-size: 36px;
}

.socialIconCon {
  display: flex;
  gap: 7%;
}

.socialLink {
  font-size: 2.7rem;
}

.contactForm {
  width: 100%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.7rem;
  line-height: 26px;
}

.contactField {
  width: 100%;
  padding: 15px;
  outline-style: none;
}

.contactBtn {
  font-size: 2rem;
  font-family: Gilmer;
  border: none;
  border-radius: 5px;
  padding: .9rem 1.5rem;
  max-width: fit-content;
  margin-left: auto;
  cursor: pointer;
}

.contactBtn:hover {
  background-color: #ca5745;
}


@media (max-width: 810px) {
  .logoContainer {
    font-size: 2.4rem;
    margin-top: -12rem;
  }
}