.hero {
  background-color: #03053E;
  background-image: url('../public/circut-board.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.heroText {
  max-width: 50rem;
  padding-left: 7rem;
}

.heroHeading {
  font-size: 4.75rem;
  line-height: 5.7rem;
  font-weight: 800;
}

.heroPara {
  font-size: 2rem;
  line-height: 3rem;
}

.aboutArrowCon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutArrow {
  color: #F3F5F7;
  font-size: 2.7rem;
  width:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
  position: absolute;
  bottom: 1rem;
}

/* ------- about ------- */

.aboutIntroCon {
  position: relative;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
  padding: 2.5rem;
  top: 160px;
}

.aboutIntroPara {
  font-size: 2.25rem;
  line-height: 3.75rem;
  text-align: center;
  font-weight: 700;
}

.aboutParaCon {
  display: flex;
  flex-direction: column;
  gap: 86px;
  padding-top: 246px;
}

.aboutParaHeading {
  font-size: 6rem;
  font-weight: 800;
  font-style: oblique;
  line-height: 7.2rem;
}

.aboutParaText {
  max-width: 85%;
  margin: 0 auto;
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 600;
}

/* ------- services ------- */

.servicesGrid {
  display: grid;
  grid-template-columns: 5fr 7fr;
  color: white;
  height: 71vh;
}

.servicesMenu {
  column-span: 5;
  height: 100%;
}

.serviceHeading {
  padding: 3.2rem 0 3.2rem 9.25rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  background-color: #28284A;
  height: 25%;
  display: flex;
  align-items: center;
}

.serviceHeading:hover {
  background-color: #03053E;
  cursor: pointer;
}

.serviceBlurbCon {
  column-span: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 9.25rem 0 8.5rem;
}

.sericeBlurb {
  max-width: 1080px;
}

.serviceIcon {
  font-size: 13rem;
  height: 13rem;
  margin-bottom: 3.5rem;
}

.servicePara {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.5rem;
}

/* ------- team ------- */

.team {
  padding-bottom: 9.75rem !important;
}

.teamCon {
  display: flex;
  justify-content: space-evenly;
}

.teamCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  text-align: center;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  max-width: 34.75rem;
  padding: 3rem 3.75rem;
}

.teamImg {
  width: 12.5rem;
  height: 12.5rem;
  border: 7px solid #CC2C12;
  border-radius: 50%;
}

.teamInfo {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.teamName {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 2.7rem;
}

.teamTitle {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 800;
}

.teamBio {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.teamLinkedIn {
  font-size: 2.25rem;
  color: #03053E;
}

/* ------- contact ------- */

.contactHeading {
  padding-top: 3rem;
}

.contactCon {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
}

.contactInfoCon {
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.linkCon {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.contactCta {
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.75rem;
}

.contactEmailCon {
  display: flex;
  
}

.emailIcon {
  font-size: 2rem;
  max-width: fit-content;
  padding: 0.95rem;
  display: flex;
  border-top: 1px solid #CC2C12;
  border-bottom: 1px solid #CC2C12;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.25rem;
  padding: 0 1rem;
  border: 1px solid #CC2C12;
}

.emailLink {
  text-decoration: none;
}

.socialCta {
  font-size: 2.25rem;
  font-weight: 600;
  white-space: nowrap;
}

.socialIconCon {
  display: flex;
  gap: 7%;
  margin-top: .5rem
}

.socialLink {
  font-size: 2.7rem;
}

.contactForm {
  width: 100%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  font-size: 1.7rem;
  line-height: 1.625rem;
}

.contactField {
  width: 100%;
  padding: 0.95rem;
  outline-style: none;
}

.contactBtn {
  font-size: 2rem;
  font-family: Gilmer;
  border: none;
  border-radius: 0px;
  padding: .9rem 1.5rem;
  max-width: fit-content;
  margin-left: auto;
  cursor: pointer;
}

.contactBtn:hover {
  background-color: #ca5745;
}


/* ------ responsive breakpoints ------- */

/* -- Desktop -- */

@media screen and (max-width: 1200px) {
  .heroText {
    padding-left: 4rem;
  }

  .heroHeading {
    max-width: 100%;
    font-size: 4.25rem;
    line-height: 5rem;
  }

  .aboutIntroPara {
    font-size: 1.75rem;
    line-height: 3rem;
  }

  .aboutParaText {
    max-width: 95%;
    font-size: 1.75rem;
    line-height: 2rem;
    margin: 0 0 0 auto;
  }

  .serviceHeading {
    font-size: 2rem;
    padding: 3rem 0 3rem 3rem;
  }

  .serviceBlurbCon {
    padding: 0 3rem 1rem 3.3rem;
  }

  .servicePara {
    font-size: 1.75rem;
  }

  .teamCard {
    max-width: 25.75rem;
    margin: 0 .5rem;
    padding: 2.75rem 3rem;
    gap: 3rem;
  }

}

/* LG Tablet */

@media screen and (max-width: 1024px) {
  .heroText {
    padding: 0 2.5rem;
  }

  .heroHeading {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }

  .heroPara {
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-top: 1.5rem;
  }

  .aboutIntroCon {
    padding: 2.25rem;
  }

  .aboutIntroPara {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0.5rem 0;
  }

  .aboutParaHeading {
    font-size: 4.25rem;
  }

  .aboutParaText {
    font-size: 1.5rem;
  }

  .serviceBlurbCon {
    padding: 0 2rem 1rem 2.25rem;
  }

  .serviceHeading {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 2.5rem 1rem 2.5rem 2.5rem;
  }

  .serviceIcon {
    font-size: 10rem;
    height: 10rem;
    margin-bottom: 3rem;
  }

  .servicePara {
    font-size: 1.5rem;
    line-height: 2.75rem;
  }

  .teamCon {
    flex-direction: column;
    gap: 3.5rem;
  }

  .teamCard {
    gap: 3rem;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    padding: 2.5rem 3rem;
  }

  .contactInfoCon {
    max-width: 45%;
  }

  .contactCta {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .email {
    font-size: 1.5rem;
  }

  .emailIcon {
    font-size: 1.25rem;
  }

  .socialCta {
    font-size: 1.75rem;
  }

  .socialLink {
    font-size: 2.25rem;
  }

  .contactForm {
    max-width: 50%;
  }

  .inputContainer {
    font-size: 1.25rem;
  }

  .contactField {
    padding: .75rem;
  }

  .contactBtn {
    font-size: 1.5rem;
  }
}

/* Tablet */

@media screen and (max-width: 768px) {
  .heroPara {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .aboutArrow {
    font-size: 2.3rem;
  }
  
  .aboutIntroCon {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .aboutIntroPara {
    font-size: 1.25rem;
  }

  .aboutParaHeading {
    font-size: 3.5rem;
    line-height: 6rem;
  }

  .aboutParaText {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }

  .serviceBlurbCon {
    padding: 0 1.5rem 1rem 2rem
  }

  .serviceIcon {
    font-size: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
  }

  .serviceHeading {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }

  .servicePara {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }

  .teamCard {
    padding: 2.5rem 2.75rem;
  }

  .teamBio {
    font-size: 1.25rem;
  }

  .contactCon {
    flex-direction: column;
    gap: 4.5rem;
  }

  .contactInfoCon {
    max-width: 100%;
    gap: 2.75rem;
    align-items: center;
    text-align: center;
  }

  .contactForm {
    max-width: 100%;
  }

  .contactBtn {
    margin: 0 auto;
  }

  .contactEmailCon {
    justify-content: center;
  }

  .socialIconCon {
    justify-content: center;
    gap: 25%;
  }
}

/* LG Mobile */

@media screen and (max-width: 600px) {
  .heroText {
    text-align: center;
    padding: 0;
  }

  .heroPara {
    padding-bottom: 1.75rem;
  }

  .aboutIntroCon {
    top: 100px;
  }

  .aboutParaCon {
    gap: 3rem;
    padding-top: 200px;
  }

  .teamCard {
    padding: 2.25rem 1.25rem;
    margin: 0;
  }

  .contactCon {
    padding-bottom: 2rem;
    gap: 4rem;
  }

  .contactCta {
    font-size: 1.75rem
  }

  .contactInfoCon {
    padding: 0 0.5rem;
    gap: 2rem;
  }

  .socialIconCon {
    gap: 20%;
  }

  .socialLink {
    font-size: 1.75rem;
  }
}

/* SM Mobile */

@media screen and (max-width: 380px) {
  .heroPara {
    line-height: 2.25rem;
  }

  .aboutIntroPara {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .aboutIntroCon {
    padding: 1.9rem;
  }

  .teamName {
    font-size: 2rem;
  }

  .teamTitle {
    font-size: 1rem;
  }

  .contactCta {
    line-height: 2.5rem;
  }

  .email {
    font-size: 1.25rem;
  }

  .inputContainer {
    font-size: 1rem;
  }

  .socialIconCon {
    gap: 18%;
  }
}

/* @media (max-width: 810px) {
  .logoContainer {
    font-size: 2.4rem;
    margin-top: -12rem;
  }
} */