.serviceCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: #F3F5F7;
    text-align: center;
}

.icon {
    height: 5rem;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.para {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: .75rem;
}

@media screen and (max-width: 380px) {
    .serviceCon {
        padding: 1.25rem;
    }

    .para {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .title {
        font-size: 1.25rem;
    }
}