.marketingImg, .developmentImg, .strategyImg {
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: solid 8px var(--rwi-red);
}

.marketingImg {
    background-image: url('../public/social-media-design-digital-marketing.jpg');
    background-size: 170%;
}

.developmentImg {
    background-image: url('../public/web-development-digital-marketing.jpg');
    background-size: 100%;
}

.strategyImg {
    background-image: url('../public/strategy-digital-marketing.jpg');
    background-size: 150%;
}

.serviceList {
    height: 350px;
}

@media screen and (max-width: 860px) {
    .hidden {
        display: none;
    }

    .serviceCon {
        justify-content: center;
        text-align: center;
    }
}

