.headingLogo {
    width: 10%;
    max-width: 177px;
}

.max1200 {
    max-width: 1200px;
}

.mxAuto {
    margin: 0 auto;
}

.py3rem {
    padding-top: 3rem;
    padding-bottom: 6.5rem;
}

.container {
    min-height: 100vh;
}

.centerContent {
    margin: 0 auto;
    max-width: fit-content;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin-bottom: 7rem;
}

.mb3p5 {
    margin-bottom: 3.5rem;
}